#macro( bargraph $value $percent )
${value}
<table class="bargraph">
  <tr>
    <td>${percent}%</td>
    <td>
      <div class="line">
        <div class="fill" style="width:${percent}px;"></div>
      </div>
    </td>
  </tr>
</table>
#end

#macro( moneygraph $value $percent $actual $goal )
#set( $scaledActual = $actual / 500 )
#set( $scaledGoal = $goal / 500 )
${value}
<table class="moneygraph">
  <tr>
    <td>
      <div class="percent">${percent}%</div>
    <td>
      <div class="line" style="width:${scaledGoal}px;">
        <div class="fill" style="width:${scaledActual}px;"></div>
      </div>
    </td>
  </tr>
</table>
#end

