## @vtlvariable name="relays" type="java.util.List<com.surrattfamily.acsdash.model.Relay>"

<pre>
Relay,Manager,Money,Teams,Participants,HomePage
#foreach($relay in $relays)
$relay.name,$relay.staffPartner,$relay.goal.dollarsRaised,$relay.goal.teams,$relay.goal.participants,$relay.homePage
#end
</pre>
