## @vtlvariable name="staffPartners" type="java.util.List<java.lang.String>"
## @vtlvariable name="goals" type="java.util.Map<java.lang.String,com.surrattfamily.acsdash.model.Stats>"

<table class="acsTable">
  <thead>
    <tr>
      <th class="text">Manager</th>
      <th class="number">Goal: Dollars Raised</th>
      <th class="number">Goal: Teams</th>
      <th class="number">Goal: Participants</th>
    </tr>
  </thead>

  <tbody>
  #foreach($staffPartner in $staffPartners)
    #set($goal=$goals[$staffPartner])
    <tr>
      <td class="text">$staffPartner</td>
      <td class="number">$goal.dollarsRaised</td>
      <td class="number">$goal.teams</td>
      <td class="number">$goal.participants</td>
    </tr>
  #end
  </tbody>
</table>



